@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-image: url("./assets/bgtexks.svg");
  @apply scrollbar scrollbar-thumb-cyan-400 scrollbar-thin;
}

.wrap {
  padding-top: 56.25%;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  border: 3px solid black;
  text-align: center;
}

.wrap > img {
  inset: 0px;
  display: block;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  transition: opacity 500ms ease-in-out;
  width: 100%;
  z-index: 1;
  top: 0;
  text-align: center;
}

.wrap:hover {
  box-shadow: rgb(0 0 0 /69%) 0px 26px 30px -10px,
    rgb(0 0 0 /73%) 0px 16px 10px -10px;
  transform: scale(1.02);
  border-color: rgba(249, 249, 249, 0.8);
}

.spe {
  font-family: "Shantell Sans", cursive;
}
